@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&family=Raleway:wght@300&display=swap");

//=========== RESETS ===========
h1,
h2,
h3,
h4,
h5,
h6,
p,
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
ul,
li,
.navbar {
  margin: 0;
  padding: 0;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  margin: 0 auto;
}

.container {
  max-width: 1400px;
}

.btn {
  border-radius: 20px;
}

//=========== SASS VARIABLES ===========
$PRIMARY-COLOR-0: #1b3e91;
$PRIMARY-COLOR-1: #4f7fd1;
$PRIMARY-COLOR-2: #21a8e1;

html body {
  font-family: "Mulish", sans-serif;
  h1,
  h2 {
    font-family: "Raleway", sans-serif;
  }

  //=========== NAVIGATION ===========
  %menuEffectInitial {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 4px;
    width: 64px;
    border-radius: 20px;
    transform: translateX(64px);
    opacity: 0;
    transition: all 0.7s;
  }

  %menuEffectActive {
    transform: translateX(0px);
    opacity: 1;
    background-color: $PRIMARY-COLOR-2;
    width: 32px;
  }

  %menuEffectHoverGrey {
    opacity: 1;
    background-color: #18181a !important;
    height: 2px;
  }

  #topNavigation {
    a {
      text-decoration: none;
      font-size: 1.25rem;
      position: relative;
    }
    a::before {
      @extend %menuEffectInitial;
    }
    a:hover::before {
      @extend %menuEffectActive;
      @extend %menuEffectHoverGrey;
      background-color: #e2f0f8;
    }

    a.active {
      font-weight: 500;
    }
    a.active::before {
      @extend %menuEffectActive;
    }
    a.active:hover::before {
      @extend %menuEffectActive;
      width: 32px;
      height: 4px;
    }

    .logo {
      cursor: pointer;
      font-size: 2.25rem;
      font-family: "Raleway", sans-serif;
      img {
        height: 80px;
      }
    }
  }
  //=========== HERO ===========
  #hero {
    margin-top: 64px;
    img {
      width: 100%;
    }
    div {
      transition: all 0.75s ease-in-out;
    }

    .hidden {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
}

.p-outside {
  padding: 16px 32px;
}

.flex-center-start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//=========== MEDIA-QUERY UP TO TABLET ===========
@media (min-width: 767px) {
  .p-outside {
    padding: 16px 16px;
  }
}

//=========== BARS ===========
.bars {
  z-index: -1;
  position: absolute;
  top: 3%;
  left: 18%;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
  div {
    width: 0%;
    background-color: $PRIMARY-COLOR-1;
    border-radius: 10000px;
    height: 3px;
    transition: width 7s ease-out;
  }
  
  .grow {
    width: 100%;
  }
  
  
}
.bars-horizontal {
  transform: rotate(-26deg);
  left: -51%;
  top: -10%;
}
