@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&family=Raleway:wght@300&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p,
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
ul,
li,
.row,
.navbar {
  margin: 0;
  padding: 0; }

ul,
li {
  list-style: none; }

li > span {
  cursor: pointer; }

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  margin: 0 auto; }

.container {
  max-width: 1400px; }

.btn {
  border-radius: 20px; }

html body {
  font-family: "Mulish", sans-serif; }
  html body h1,
  html body h2 {
    font-family: "Raleway", sans-serif; }
  html body #topNavigation a::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 4px;
    width: 64px;
    border-radius: 20px;
    transform: translateX(64px);
    opacity: 0;
    transition: all 0.7s; }
  html body #topNavigation a:hover::before, html body #topNavigation a.active::before, html body #topNavigation a.active:hover::before {
    transform: translateX(0px);
    opacity: 1;
    background-color: #21a8e1;
    width: 32px; }
  html body #topNavigation a:hover::before {
    opacity: 1;
    background-color: #18181a !important;
    height: 2px; }
  html body #topNavigation a {
    text-decoration: none;
    font-size: 1.25rem;
    position: relative; }
  html body #topNavigation a:hover::before {
    background-color: #e2f0f8; }
  html body #topNavigation a.active {
    font-weight: 500; }
  html body #topNavigation a.active:hover::before {
    width: 32px;
    height: 4px; }
  html body #topNavigation .logo {
    cursor: pointer;
    font-size: 2.25rem;
    font-family: "Raleway", sans-serif; }
    html body #topNavigation .logo img {
      height: 80px; }
  html body #hero {
    margin-top: 64px; }
    html body #hero img {
      width: 100%; }
    html body #hero div {
      transition: all 0.75s ease-in-out; }
    html body #hero .hidden {
      opacity: 0;
      transform: translateY(-100%); }

.p-outside {
  padding: 16px 32px; }

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-center-column-start {
  display: flex;
  flex-direction: column;
  justify-content: center; }

@media (min-width: 767px) {
  .p-outside {
    padding: 16px 16px; } }

.bars {
  z-index: -1;
  position: absolute;
  top: 3%;
  left: 18%;
  height: 100%;
  width: 100%;
  transform: rotate(45deg); }
  .bars div {
    width: 0%;
    background-color: #0096d93d;
    border-radius: 10000px;
    height: 3px;
    transition: width 7s ease-out; }
  .bars .grow {
    width: 100%; }

.bars-horizontal {
  transform: rotate(-26deg);
  left: -51%;
  top: -10%; }

.separator-bar {
  width: 64px; }

.cursor-pointer {
  cursor: pointer; }

.box-shadow {
  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
  border-radius: 20px; }

.hide {
  opacity: 0;
  transform: translateY(-150%);
  transition: all 1s; }

.hideInverse {
  transform: translateY(150%); }

.show {
  transform: translateY(0);
  opacity: 1; }

.facility {
  border-radius: 8px;
  transition: all 0.5s; }

.bg-selected {
  background-color: #0096d93d;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1); }

.facility:hover {
  background-color: #0096d93d; }
  .facility:hover h5 {
    font-weight: 700; }

.chosen-location-wrapper .bg-transparent {
  padding: 16px 0px !important; }

.wrapper-request-imgs svg {
  width: 96px;
  height: 96px; }

.wrapper-request-imgs label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.imgsPreview-wrapper {
  transition: all 0.5s; }
  .imgsPreview-wrapper img {
    object-fit: cover;
    width: 100%; }
  .imgsPreview-wrapper .position-relative {
    border: 4px solid transparent;
    border-radius: 8px;
    overflow: hidden; }
  .imgsPreview-wrapper .position-absolute {
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    background-color: #21a8e1;
    border-radius: 200px;
    cursor: pointer;
    transition: all 0.5s; }
    .imgsPreview-wrapper .position-absolute svg {
      width: 16px;
      height: 16px; }
  .imgsPreview-wrapper .position-absolute:hover {
    background-color: #1b3e91;
    border: 2px solid #21a8e1; }
    .imgsPreview-wrapper .position-absolute:hover svg {
      color: white; }

.tag-preview-wrapper {
  transition: all 0.5s; }
  .tag-preview-wrapper li {
    background-color: #0096d93d;
    border-radius: 8px;
    margin: 8px 8px 8px 0px; }

.wrapper-request-tags .MuiAutocomplete-root {
  width: 100%; }

.wrapper-request-tags .outline {
  border-radius: 8px;
  border: 2px solid #4f7fd1;
  background-color: transparent;
  color: black;
  transition: all 0.5s; }

.wrapper-request-tags .outline:hover {
  background-color: #0069d9;
  color: white;
  font-weight: 700; }

.user-availability-wrapper .ASAP-btn {
  padding: 24px;
  background-color: #21a8e1;
  border-radius: 16px;
  color: white;
  transition: all 0.5s; }

.user-availability-wrapper .ASAP-btn:hover {
  background-color: #4f7fd1; }

.user-availability-wrapper .pickDAte-btn {
  padding: 24px;
  border: 2px solid #21a8e1;
  border-radius: 16px; }

.user-availability-wrapper .pickDAte-btn:hover {
  border-color: #4f7fd1; }

.user-availability-wrapper .calendar-metas {
  max-width: 350px; }

.user-availability-wrapper .rdt input {
  text-align: center; }

.request-info-wrapper h3 {
  line-height: 55px; }

.request-info-wrapper h5 {
  font-weight: 700;
  line-height: 34px; }

.chosen-date-wrapper li {
  background-color: #0096d93d;
  border-radius: 8px;
  margin: 8px 8px; }

.blur {
  filter: blur(4px);
  -webkit-filter: blur(4px); }

.profile-wrapper {
  padding-left: 0px;
  padding-right: 0px; }
  .profile-wrapper .avatar-wrapper {
    max-height: 256px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    height: 100%;
    background-color: #0069d9;
    padding: 3rem 15px; }
  .profile-wrapper .intro-block {
    width: 128px;
    height: 128px; }
  .profile-wrapper .MuiAvatar-root {
    width: 128px;
    height: 128px; }
  .profile-wrapper .css-1khtq37-MuiBadge-badge {
    height: 16px;
    width: 16px;
    border-radius: 20000px;
    bottom: 18%;
    right: 18%; }
  .profile-wrapper .profile-meta-wrapper .MuiFormControl-root {
    flex-grow: 1; }
  .profile-wrapper .profile-meta-wrapper .edit-wrapper svg {
    width: 24px;
    height: 24px; }
  .profile-wrapper .profile-meta-wrapper h5,
  .profile-wrapper .profile-meta-wrapper h6 {
    text-align: center; }
  .profile-wrapper .profile-actions {
    flex-grow: 1; }
    .profile-wrapper .profile-actions button {
      width: 50%;
      transition: all .5s; }
    .profile-wrapper .profile-actions button:hover {
      font-weight: 700; }
    .profile-wrapper .profile-actions button.btn-outline:hover:nth-child(2) {
      background-color: #21a8e1;
      color: #ffffff; }

.accordion-title {
  flex-grow: 1; }

.requests-wrapper .pending-requests-wrapper .row {
  margin: 0px; }

.requests-wrapper .pending-requests-wrapper .MuiBadge-root {
  transform: translateY(-2px); }
