@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&family=Raleway:wght@300&display=swap");

//=========== RESETS ===========
h1,
h2,
h3,
h4,
h5,
h6,
p,
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
ul,
li,
.row,
.navbar {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

li > span {
  cursor: pointer;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  margin: 0 auto;
}

.container {
  max-width: 1400px;
}

.btn {
  border-radius: 20px;
}

//=========== SASS VARIABLES ===========
$PRIMARY-COLOR-0: #1b3e91;
$PRIMARY-COLOR-1: #4f7fd1;
$PRIMARY-COLOR-2: #21a8e1;
$PRIMARY-COLOR-3: #0096d93d;
$CHAT-BG:#ededf3;

html body {
  font-family: "Mulish", sans-serif;
  h1,
  h2 {
    font-family: "Raleway", sans-serif;
  }

  //=========== NAVIGATION ===========
  %menuEffectInitial {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 4px;
    width: 64px;
    border-radius: 20px;
    transform: translateX(64px);
    opacity: 0;
    transition: all 0.7s;
  }

  %menuEffectActive {
    transform: translateX(0px);
    opacity: 1;
    background-color: $PRIMARY-COLOR-2;
    width: 32px;
  }

  %menuEffectHoverGrey {
    opacity: 1;
    background-color: #18181a !important;
    height: 2px;
  }

  #topNavigation {
    a {
      text-decoration: none;
      font-size: 1.25rem;
      position: relative;
    }
    a::before {
      @extend %menuEffectInitial;
    }
    a:hover::before {
      @extend %menuEffectActive;
      @extend %menuEffectHoverGrey;
      background-color: #e2f0f8;
    }

    a.active {
      font-weight: 500;
    }
    a.active::before {
      @extend %menuEffectActive;
    }
    a.active:hover::before {
      @extend %menuEffectActive;
      width: 32px;
      height: 4px;
    }

    .logo {
      cursor: pointer;
      font-size: 2.25rem;
      font-family: "Raleway", sans-serif;
      img {
        height: 80px;
      }
    }
  }
  //=========== HERO ===========
  #hero {
    margin-top: 64px;
    img {
      width: 100%;
    }
    div {
      transition: all 0.75s ease-in-out;
    }

    .hidden {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
}

.p-outside {
  padding: 16px 32px;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//=========== MEDIA-QUERY UP TO TABLET ===========
@media (min-width: 767px) {
  .p-outside {
    padding: 16px 16px;
  }
}

//=========== BARS ===========
.bars {
  z-index: -1;
  position: absolute;
  top: 3%;
  left: 18%;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
  div {
    width: 0%;
    background-color: $PRIMARY-COLOR-3;
    border-radius: 10000px;
    height: 3px;
    transition: width 7s ease-out;
  }

  .grow {
    width: 100%;
  }
}
.bars-horizontal {
  transform: rotate(-26deg);
  left: -51%;
  top: -10%;
}

.separator-bar {
  width: 64px;
}

.cursor-pointer {
  cursor: pointer;
}

//=========== BG LOGIN & REGISTER ===========
.box-shadow {
  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

// .max-height{
//   max-height: 460px;
// }

.hide {
  opacity: 0;
  transform: translateY(-150%);
  transition: all 1s;
}

.hideInverse {
  transform: translateY(150%);
}
.show {
  transform: translateY(0);
  opacity: 1;
}

//=========== BOOK REQUEST FACILITY ===========
.facility {
  border-radius: 8px;
  transition: all 0.5s;
}
.bg-selected {
  background-color: $PRIMARY-COLOR-3;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
}
.facility:hover {
  h5 {
    font-weight: 700;
  }
  background-color: $PRIMARY-COLOR-3;
}

.chosen-location-wrapper {
  .bg-transparent {
    padding: 0px 0px !important;
  }
}

//=========== MEDICAL REQUEST ===========

.wrapper-request-imgs {
  svg {
    width: 96px;
    height: 96px;
  }
  label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.imgsPreview-wrapper {
  transition: all 0.5s;
  img {
    object-fit: cover;
    width: 100%;
  }
  .position-relative {
    border: 4px solid transparent;
    border-radius: 8px;
    overflow: hidden;
  }

  .position-absolute {
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    background-color: $PRIMARY-COLOR-2;
    border-radius: 200px;
    cursor: pointer;
    transition: all 0.5s;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .position-absolute:hover {
    background-color: $PRIMARY-COLOR-0;
    border: 2px solid $PRIMARY-COLOR-2;
    svg {
      color: white;
    }
  }
}

.tag-preview-wrapper {
  transition: all 0.5s;
  li {
    background-color: #0096d93d;
    border-radius: 8px;
    margin: 8px 8px 8px 0px;
  }
}
.wrapper-request-tags {
  .MuiAutocomplete-root {
    width: 100%;
  }
  .outline {
    border-radius: 8px;
    border: 2px solid $PRIMARY-COLOR-1;
    background-color: transparent;
    color: black;
    transition: all 0.5s;
  }
  .outline:hover {
    background-color: #0069d9;
    color: white;
    font-weight: 700;
  }
}
//=========== BOOK AVAILABILITY DATE ===========

.user-availability-wrapper {
  .ASAP-btn {
    padding: 24px;
    background-color: $PRIMARY-COLOR-2;
    border-radius: 16px;
    color: white;
    transition: all 0.5s;
  }
  .ASAP-btn:hover {
    background-color: $PRIMARY-COLOR-1;
  }
  .pickDAte-btn {
    padding: 24px;
    border: 2px solid $PRIMARY-COLOR-2;
    border-radius: 16px;
  }

  .pickDAte-btn:hover {
    border-color: $PRIMARY-COLOR-1;
  }

  .calendar-metas {
    max-width: 350px;
  }

  .rdt {
    input {
      text-align: center;
    }
  }
}

.request-info-wrapper {
  h3 {
    line-height: 55px;
  }
  h5 {
    font-weight: 700;
    line-height: 34px;
  }
}

.chosen-date-wrapper {
  li {
    background-color: $PRIMARY-COLOR-3;
    border-radius: 8px;
    margin: 8px 8px;
  }
}

//=========== Success ===========
.success-wrapper {
}

//=========== DASHBOARD PROFILE ===========

.blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.profile-wrapper {
  padding-left: 0px;
  padding-right: 0px;
  .avatar-wrapper {
    max-height: 256px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    background-color: #0069d9;
    padding: 3rem 1rem;
  }
  .intro-block {
    width: 128px;
    height: 128px;
  }
  .MuiAvatar-root {
    width: 128px;
    height: 128px;
  }

  .css-1khtq37-MuiBadge-badge {
    height: 16px;
    width: 16px;
    border-radius: 20000px;
    bottom: 18%;
    right: 18%;
  }

  .profile-meta-wrapper {
    transition: all 3s;
    .MuiFormControl-root {
      flex-grow: 1;
    }
    .edit-wrapper {
      svg {
        width: 24px;
        height: 24px;
      }
    }
    h5,
    h6 {
      text-align: center;
    }
  }

  .profile-actions {
    flex-grow: 1;
    button {
      width: 50%;
      transition: all 0.5s;
    }
    button:hover {
      font-weight: 700;
    }
    button.btn-outline:hover:nth-child(2) {
      background-color: $PRIMARY-COLOR-2;
      color: #ffffff;
    }
  }
}

//=========== Requests PROFILE ===========
.accordion-title {
  flex-grow: 1;
}
.requests-wrapper {
  .pending-requests-wrapper {
    .row {
      margin: 0px;
    }
    .MuiBadge-root {
      transform: translateY(-2px);
    }
  }
}

// ================= Chat ========================
.chat-wrapper {
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.30);
  border-radius: 20000px;
  width: 15%;
  height: 5%;
  min-width: 64px;
  min-height: 40px;
  position: fixed;
  bottom: 32px;
  right: 32px;
  background-color: #007bff;
  transition: 1s all;
  svg {
    width: 24px;
    height: 24px;
    color: white;
  }
  h4 {
    color: white;
    transform: translateY(-2px);
  }

  .chatDisplay-wrapper {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.50);
    background-color: aliceblue;
    border-radius: 16px;
    overflow: hidden;
    position: fixed;
    bottom: 80px;
    right: 32px;
    width: 100%;
    max-width: 360px;

    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .chatSupport-wrapper {
      background-color: $PRIMARY-COLOR-0;
    }
    div.supportAvatar-wrapper {
      border-radius: 2000px;
      overflow: hidden;
      img {
        width: 48px;
        height: 48px;
        object-fit: cover;
      }
    }
  }

  .chatMessages-wrapper {
    height: 360px;
    overflow-x: hidden;
    overflow-y: scroll;

    .userMessage-wrapper {
      background-color: #b7b9c35d;
      border-radius: 8px;
    }
    .assistantMessage-wrapper {
      background-color: $PRIMARY-COLOR-3;
      border-radius: 8px;
    }
    p {
      white-space: pre-line;
    }
  }

  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 8px 0 8px;
    border-color: #007bff transparent transparent transparent;
  }

  .chatInput-wrapper {
    background-color: $CHAT-BG;
    
    border-radius: 0px 0px 16px 16px;
    border-top: none;
    form{
      textarea{
        background-color: $CHAT-BG;
        
        border: none;
        margin-left: 1rem ;
     
      }
      textarea:focus-visible{
        outline: $PRIMARY-COLOR-0 auto 1px ;
      }
    }
    
    .text-area-wrapper {
      flex-grow: 1;
    }
    button:hover{
      background-color: transparent;

    }
    img{
      object-fit: cover;
    }

    .removeImg{
      top: 8px;
      right: 8px;
      background-color: $PRIMARY-COLOR-2;
      border-radius: 20000px;
      height: 24px;
      width: 24px;
      transition: all.5s;
    }
    .removeImg:hover{
      background-color: $PRIMARY-COLOR-0;
    }
    .sendMessage-Btn-wrapper {
      width: 40px;
      height: 40px;
      border-radius: 2000px;
      background-color: #007bff;
      transition: 0.5s all;
    }
    .sendMessage-Btn-wrapper:hover {
      background-color: #0069d9;
    }
    .sendAttachment-Btn-wrapper {
      svg {
        color: grey;
        transform: rotate(90deg);
      }
    }
  }
}
.chat-wrapper:hover {
  background-color: #0069d9;
}

.fade-enter {
  transform: translateY(-150%);
  opacity: 0;
}
.fade-enter-active {
  // opacity: 1;
  // transition: all 1s;
}
.fade-exit {
  // opacity: 1;
}
.fade-exit-active {
  // transform: translateY(150%);
  opacity: 0;
}

.fade-enter-done {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s;
}
.fade-exit-done {
  // transform: translateY(150%);
  opacity: 0;
}
